body {
    border-radius: 0px;
    margin: auto;
}

.navbar a {
    color: #0084b4;
}

.navbar {
    border-radius: 0px;
    margin-left: -16px;
    margin-right: -14px;
    font-family: Verdana, 'Franklin Gothic', Arial, sans-serif;
    border-bottom: solid 1px gray; 

    /* background-color: #F2F2F3; GitHUb color */
    height: 50px;
}

.navbar-brand {
    padding-left:10px;
    padding-right:10px;
    padding-bottom:2px;
    padding-top: 10px;
    font-size: 1.6em;
    color: white;
    background-color: #000099;
    font-family: Impact, Verdana, Arial;
    height: 40px;
    margin-top: 4px;
    margin-bottom:4px;
    margin-left: 50px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 5px;

.glyphicon {
}


#allContentUnderNavBar {
    margin-top: 10px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

h1 {
    color: rgb(255, 106, 0);
    margin-top: 2px;
    margin-bottom: 6px;
}

h2, h3, h4 {
    margin-top: 0px;
    color: rgb(255, 106, 0);
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4, h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/*.glyphicon {
    color: rgb(255, 106, 0);
    font-size: 1.3em;
}*/

aside {
    font-size: .8em;
    padding-left: 5%;
}
/*
figcaption {
    padding-top: 2px;
    font-size: .9em;
    font-style: italic;
    color: #404245;
}
    */

.openingParagraph {
    font-size: 1.1em;
}

table {
    width: 200px;
    font-size: 1.1em;
}

table, th, td {
    border: 1px solid rgb(255, 106, 0);
}

th, td {
    padding: 8px;
    background-color: #F8F8F8;
}

    td span {
        padding: 3px;
    }

.contactType {
    background-color: #6685A3;
    color: white;
}

.buttonDownload {
    color: white;
    display: block;
    text-align: center;
    font-size: 1.2em;
    height: 50px;
    line-height: 50px;
    width: 224px;
    background-color: rgb(255, 106, 0);
    text-decoration: none;
}

    .buttonDownload:focus, .buttonDownload:hover {
        text-decoration: none;
        color: white;
        background-color: #6685A3;
    }



html {
    border-radius: 0;
}

/*
.navbar-default .navbar-brand {
    color: #6685A3;
}

.navbar-default .navbar-nav > li > a {
    color: #6685A3;
}
*/

body {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
}
